@font-face {
    font-family: 'Arimo';
    src: url(./Arimo-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: Arimo, sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

div.bgimg{
    background-image: url('../images/deer_and_flower.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    display: block;
}

div#mainText{
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 400px;
    font-size: 3em;
    margin-left: auto;
    margin-right: auto;
}

div#timeText {
    text-align: center;
}

div.bgimg hr {
    width: 300px;
}